.directory
.classpath
.project
.buildpath
.settings
.checkstyle
.metadata
Servers
target
*.swp
*.log
*.bak
assets/*
protected/runtime/*
protected/runtime/gii-1.1.13/*
protected/admin/runtime/*
protected/config/params.php